# Ignore bundler config.

/.bundle

# Ignore logfiles and tempfiles.

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles.

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.

/storage/*
!/storage/.keep

# Ignore master key for decrypting credentials and more.

/config/master.key

# Ignore local environment secrets.
/.env

# Ignore SimpleCov coverage output.

/coverage/

# Ignore local development files.

/.byebug_history
